# The name of the supply collector.
MongoDbSupplyCollector

# This is the connection string.  The comments and the
# blank lines are ignored.
mongodb://localhost/s2

#GetSchema test values. Table count|Entity count.
GetSchema | 4 | 212

#CollectSample test.  DataCollection|DataEntity|sample size|list of sample values. Make sure to specify entire collection size to select because of random sampling
CollectSample | email | TO_ADDRS_EMAILS | 200 | qa25@example.com | info45@example.org | sales54@example.net

#RandomSample test.  DataCollection|DataEntity|sample size|list of sample values
RandomSample | email | TO_ADDRS_EMAILS | 5

#DataCollectionMetricsTest. DataCollection | row count | total size | used size
DataCollectionMetrics | email | 200 | 72.0 | 72.0
DataCollectionMetrics | lead | 200 | 92 | 92
DataCollectionMetrics | contacts_audit | 200 | 104 | 104

#LoadTest. DataCollection | DataEntity | sample size | MaxMemoryUsageMb | MaxProcessingTimeSec
LoadTest | email | TO_ADDRS_EMAILS | 1000000 | 10 | 10
