# The name of the supply collector.
MongoDbSupplyCollector

# This is the connection string.  The comments and the
# blank lines are ignored.
mongodb://localhost/s2

#GetSchema test values. Table count|Entity count.
GetSchema | 3 | 156

#CollectSample test.  DataCollection|DataEntity|sample size|list of sample values
CollectSample | email | TO_ADDRS_EMAILS | 189 | qa25@example.com | info45@example.org | sales54@example.net

#DataCollectionMetricsTest. DataCollection|row count
DataCollectionMetrics | email | 200
DataCollectionMetrics | lead | 200
DataCollectionMetrics | contacts_audit | 200